<span local-class="image-block">
  {{#if (media 'isSmall')}}
  {{#if (media 'is320')}}
  <picture>
    <source
      media="(max-width: 320px)"
      srcset={{@blockImageSrcsetOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is330')}}
  <picture>
    <source
      media="(max-width: 330px)"
      srcset={{@blockImageSrcsetTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is340')}}
  <picture>
    <source
      media="(max-width: 340px)"
      srcset={{@blockImageSrcsetThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is350')}}
  <picture>
    <source
      media="(max-width: 350px)"
      srcset={{@blockImageSrcsetFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is360')}}
  <picture>
    <source
      media="(max-width: 360px)"
      srcset={{@blockImageSrcsetFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is370')}}
  <picture>
    <source
      media="(max-width: 370px)"
      srcset={{@blockImageSrcsetSix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is380')}}
  <picture>
    <source
      media="(max-width: 380px)"
      srcset={{@blockImageSrcsetSeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is390')}}
  <picture>
    <source
      media="(max-width: 390px)"
      srcset={{@blockImageSrcsetEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is400')}}
  <picture>
    <source
      media="(max-width: 400px)"
      srcset={{@blockImageSrcsetNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is410')}}
  <picture>
    <source
      media="(max-width: 410px)"
      srcset={{@blockImageSrcsetTen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is420')}}
  <picture>
    <source
      media="(max-width: 420px)"
      srcset={{@blockImageSrcsetEleven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is430')}}
  <picture>
    <source
      media="(max-width: 430px)"
      srcset={{@blockImageSrcsetTwelve}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is440')}}
  <picture>
    <source
      media="(max-width: 440px)"
      srcset={{@blockImageSrcsetThirteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is450')}}
  <picture>
    <source
      media="(max-width: 450px)"
      srcset={{@blockImageSrcsetFourteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is460')}}
  <picture>
    <source
      media="(max-width: 460px)"
      srcset={{@blockImageSrcsetFifteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is470')}}
  <picture>
    <source
      media="(max-width: 470px)"
      srcset={{@blockImageSrcsetSixteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is480')}}
  <picture>
    <source
      media="(max-width: 480px)"
      srcset={{@blockImageSrcsetSeventeen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is490')}}
  <picture>
    <source
      media="(max-width: 490px)"
      srcset={{@blockImageSrcsetEighteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is500')}}
  <picture>
    <source
      media="(max-width: 500px)"
      srcset={{@blockImageSrcsetNineteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is510')}}
  <picture>
    <source
      media="(max-width: 510px)"
      srcset={{@blockImageSrcsetTwenty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is520')}}
  <picture>
    <source
      media="(max-width: 520px)"
      srcset={{@blockImageSrcsetTwentyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is530')}}
  <picture>
    <source
      media="(max-width: 530px)"
      srcset={{@blockImageSrcsetTwentyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is540')}}
  <picture>
    <source
      media="(max-width: 540px)"
      srcset={{@blockImageSrcsetTwentyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is550')}}
  <picture>
    <source
      media="(max-width: 550px)"
      srcset={{@blockImageSrcsetTwentyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{/if}}
  {{#if (media 'isLarge')}}
  {{#if (media 'is560')}}
  <picture>
    <source
      media="(max-width: 560px)"
      srcset={{@blockImageSrcsetTwentyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is570')}}
  <picture>
    <source
      media="(max-width: 570px)"
      srcset={{@blockImageSrcsetTwentySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is580')}}
  <picture>
    <source
      media="(max-width: 580px)"
      srcset={{@blockImageSrcsetTwentySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is590')}}
  <picture>
    <source
      media="(max-width: 590px)"
      srcset={{@blockImageSrcsetTwentyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is600')}}
  <picture>
    <source
      media="(max-width: 600px)"
      srcset={{@blockImageSrcsetTwentyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is610')}}
  <picture>
    <source
      media="(max-width: 610px)"
      srcset={{@blockImageSrcsetThirty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is620')}}
  <picture>
    <source
      media="(max-width: 620px)"
      srcset={{@blockImageSrcsetThirtyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is630')}}
  <picture>
    <source
      media="(max-width: 630px)"
      srcset={{@blockImageSrcsetThirtyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is640')}}
  <picture>
    <source
      media="(max-width: 640px)"
      srcset={{@blockImageSrcsetThirtyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is650')}}
  <picture>
    <source
      media="(max-width: 650px)"
      srcset={{@blockImageSrcsetThirtyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is660')}}
  <picture>
    <source
      media="(max-width: 660px)"
      srcset={{@blockImageSrcsetThirtyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is670')}}
  <picture>
    <source
      media="(max-width: 670px)"
      srcset={{@blockImageSrcsetThirtySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is680')}}
  <picture>
    <source
      media="(max-width: 680px)"
      srcset={{@blockImageSrcsetThirtySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is690')}}
  <picture>
    <source
      media="(max-width: 690px)"
      srcset={{@blockImageSrcsetThirtyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is700')}}
  <picture>
    <source
      media="(max-width: 700px)"
      srcset={{@blockImageSrcsetThirtyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is710')}}
  <picture>
    <source
      media="(max-width: 710px)"
      srcset={{@blockImageSrcsetForty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is720')}}
  <picture>
    <source
      media="(max-width: 720px)"
      srcset={{@blockImageSrcsetFortyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is730')}}
  <picture>
    <source
      media="(max-width: 730px)"
      srcset={{@blockImageSrcsetFortyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is740')}}
  <picture>
    <source
      media="(max-width: 740px)"
      srcset={{@blockImageSrcsetFortyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is750')}}
  <picture>
    <source
      media="(max-width: 750px)"
      srcset={{@blockImageSrcsetFortyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is760')}}
  <picture>
    <source
      media="(max-width: 760px)"
      srcset={{@blockImageSrcsetFortyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is770')}}
  <picture>
    <source
      media="(max-width: 770px)"
      srcset={{@blockImageSrcsetFortySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is780')}}
  <picture>
    <source
      media="(max-width: 780px)"
      srcset={{@blockImageSrcsetFortySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is790')}}
  <picture>
    <source
      media="(max-width: 790px)"
      srcset={{@blockImageSrcsetFortyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is800')}}
  <picture>
    <source
      media="(max-width: 800px)"
      srcset={{@blockImageSrcsetFortyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is810')}}
  <picture>
    <source
      media="(max-width: 810px)"
      srcset={{@blockImageSrcsetFifty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is820')}}
  <picture>
    <source
      media="(max-width: 820px)"
      srcset={{@blockImageSrcsetFiftyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is830')}}
  <picture>
    <source
      media="(max-width: 830px)"
      srcset={{@blockImageSrcsetFiftyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is840')}}
  <picture>
    <source
      media="(max-width: 840px)"
      srcset={{@blockImageSrcsetFiftyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is850')}}
  <picture>
    <source
      media="(max-width: 850px)"
      srcset={{@blockImageSrcsetFiftyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is860')}}
  <picture>
    <source
      media="(max-width: 860px)"
      srcset={{@blockImageSrcsetFiftyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is870')}}
  <picture>
    <source
      media="(max-width: 870px)"
      srcset={{@blockImageSrcsetFiftySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is880')}}
  <picture>
    <source
      media="(max-width: 880px)"
      srcset={{@blockImageSrcsetFiftySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is890')}}
  <picture>
    <source
      media="(max-width: 890px)"
      srcset={{@blockImageSrcsetFiftyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is900')}}
  <picture>
    <source
      media="(max-width: 900px)"
      srcset={{@blockImageSrcsetFiftyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is910')}}
  <picture>
    <source
      media="(max-width: 910px)"
      srcset={{@blockImageSrcsetSixty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is920')}}
  <picture>
    <source
      media="(max-width: 920px)"
      srcset={{@blockImageSrcsetSixtyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is930')}}
  <picture>
    <source
      media="(max-width: 930px)"
      srcset={{@blockImageSrcsetSixtyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is940')}}
  <picture>
    <source
      media="(max-width: 940px)"
      srcset={{@blockImageSrcsetSixtyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is950')}}
  <picture>
    <source
      media="(max-width: 950px)"
      srcset={{@blockImageSrcsetSixtyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is960')}}
  <picture>
    <source
      media="(max-width: 960px)"
      srcset={{@blockImageSrcsetSixtyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is970')}}
  <picture>
    <source
      media="(max-width: 970px)"
      srcset={{@blockImageSrcsetSixtySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is980')}}
  <picture>
    <source
      media="(max-width: 980px)"
      srcset={{@blockImageSrcsetSixtySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is990')}}
  <picture>
    <source
      media="(max-width: 990px)"
      srcset={{@blockImageSrcsetSixtyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1000')}}
  <picture>
    <source
      media="(max-width: 1000px)"
      srcset={{@blockImageSrcsetSixtyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1010')}}
  <picture>
    <source
      media="(max-width: 1010px)"
      srcset={{@blockImageSrcsetSeventy}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1020')}}
  <picture>
    <source
      media="(max-width: 1020px)"
      srcset={{@blockImageSrcsetSeventyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1030')}}
  <picture>
    <source
      media="(max-width: 1030px)"
      srcset={{@blockImageSrcsetSeventyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1040')}}
  <picture>
    <source
      media="(max-width: 1040px)"
      srcset={{@blockImageSrcsetSeventyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1050')}}
  <picture>
    <source
      media="(max-width: 1050px)"
      srcset={{@blockImageSrcsetSeventyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1060')}}
  <picture>
    <source
      media="(max-width: 1060px)"
      srcset={{@blockImageSrcsetSeventyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1070')}}
  <picture>
    <source
      media="(max-width: 1070px)"
      srcset={{@blockImageSrcsetSeventySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1080')}}
  <picture>
    <source
      media="(max-width: 1080px)"
      srcset={{@blockImageSrcsetSeventySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1090')}}
  <picture>
    <source
      media="(max-width: 1090px)"
      srcset={{@blockImageSrcsetSeventyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1100')}}
  <picture>
    <source
      media="(max-width: 1100px)"
      srcset={{@blockImageSrcsetSeventyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1110')}}
  <picture>
    <source
      media="(max-width: 1110px)"
      srcset={{@blockImageSrcsetEighty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1120')}}
  <picture>
    <source
      media="(max-width: 1120px)"
      srcset={{@blockImageSrcsetEightyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1130')}}
  <picture>
    <source
      media="(max-width: 1130px)"
      srcset={{@blockImageSrcsetEightyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1140')}}
  <picture>
    <source
      media="(max-width: 1140px)"
      srcset={{@blockImageSrcsetEightyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1150')}}
  <picture>
    <source
      media="(max-width: 1150px)"
      srcset={{@blockImageSrcsetEightyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1160')}}
  <picture>
    <source
      media="(max-width: 1160px)"
      srcset={{@blockImageSrcsetEightyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1170')}}
  <picture>
    <source
      media="(max-width: 1170px)"
      srcset={{@blockImageSrcsetEightySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1180')}}
  <picture>
    <source
      media="(max-width: 1180px)"
      srcset={{@blockImageSrcsetEightySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1190')}}
  <picture>
    <source
      media="(max-width: 1190px)"
      srcset={{@blockImageSrcsetEightyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1200')}}
  <picture>
    <source
      media="(max-width: 1200px)"
      srcset={{@blockImageSrcsetEightyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1210')}}
  <picture>
    <source
      media="(max-width: 1210px)"
      srcset={{@blockImageSrcsetNinety}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1220')}}
  <picture>
    <source
      media="(max-width: 1220px)"
      srcset={{@blockImageSrcsetNinetyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1230')}}
  <picture>
    <source
      media="(max-width: 1230px)"
      srcset={{@blockImageSrcsetNinetyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1240')}}
  <picture>
    <source
      media="(max-width: 1240px)"
      srcset={{@blockImageSrcsetNinetyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1250')}}
  <picture>
    <source
      media="(max-width: 1250px)"
      srcset={{@blockImageSrcsetNinetyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1260')}}
  <picture>
    <source
      media="(max-width: 1260px)"
      srcset={{@blockImageSrcsetNinetyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1270')}}
  <picture>
    <source
      media="(max-width: 1270px)"
      srcset={{@blockImageSrcsetNinetySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1280')}}
  <picture>
    <source
      media="(max-width: 1280px)"
      srcset={{@blockImageSrcsetNinetySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1290')}}
  <picture>
    <source
      media="(max-width: 1290px)"
      srcset={{@blockImageSrcsetNinetyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1300')}}
  <picture>
    <source
      media="(max-width: 1300px)"
      srcset={{@blockImageSrcsetNinetyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1310')}}
  <picture>
    <source
      media="(max-width: 1310px)"
      srcset={{@blockImageSrcsetOneHundred}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1320')}}
  <picture>
    <source
      media="(max-width: 1320px)"
      srcset={{@blockImageSrcsetOneHundredAndOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1330')}}
  <picture>
    <source
      media="(max-width: 1330px)"
      srcset={{@blockImageSrcsetOneHundredAndTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1340')}}
  <picture>
    <source
      media="(max-width: 1340px)"
      srcset={{@blockImageSrcsetOneHundredAndThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1350')}}
  <picture>
    <source
      media="(max-width: 1350px)"
      srcset={{@blockImageSrcsetOneHundredAndFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1360')}}
  <picture>
    <source
      media="(max-width: 1360px)"
      srcset={{@blockImageSrcsetOneHundredAndFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1370')}}
  <picture>
    <source
      media="(max-width: 1370px)"
      srcset={{@blockImageSrcsetOneHundredAndSix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1380')}}
  <picture>
    <source
      media="(max-width: 1380px)"
      srcset={{@blockImageSrcsetOneHundredAndSeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1390')}}
  <picture>
    <source
      media="(max-width: 1390px)"
      srcset={{@blockImageSrcsetOneHundredAndEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1400')}}
  <picture>
    <source
      media="(max-width: 1400px)"
      srcset={{@blockImageSrcsetOneHundredAndNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1410')}}
  <picture>
    <source
      media="(max-width: 1410px)"
      srcset={{@blockImageSrcsetOneHundredAndTen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1420')}}
  <picture>
    <source
      media="(max-width: 1420px)"
      srcset={{@blockImageSrcsetOneHundredAndEleven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1430')}}
  <picture>
    <source
      media="(max-width: 1430px)"
      srcset={{@blockImageSrcsetOneHundredAndTwelve}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1440')}}
  <picture>
    <source
      media="(max-width: 1440px)"
      srcset={{@blockImageSrcsetOneHundredAndThirteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1450')}}
  <picture>
    <source
      media="(max-width: 1450px)"
      srcset={{@blockImageSrcsetOneHundredAndFourteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1460')}}
  <picture>
    <source
      media="(max-width: 1460px)"
      srcset={{@blockImageSrcsetOneHundredAndFifteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1470')}}
  <picture>
    <source
      media="(max-width: 1470px)"
      srcset={{@blockImageSrcsetOneHundredAndSixteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1480')}}
  <picture>
    <source
      media="(max-width: 1480px)"
      srcset={{@blockImageSrcsetOneHundredAndSeventeen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1490')}}
  <picture>
    <source
      media="(max-width: 1490px)"
      srcset={{@blockImageSrcsetOneHundredAndEighteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1500')}}
  <picture>
    <source
      media="(max-width: 1500px)"
      srcset={{@blockImageSrcsetOneHundredAndNineteen}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1510')}}
  <picture>
    <source
      media="(max-width: 1510px)"
      srcset={{@blockImageSrcsetOneHundredAndTwenty}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1520')}}
  <picture>
    <source
      media="(max-width: 1520px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyOne}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1530')}}
  <picture>
    <source
      media="(max-width: 1530px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyTwo}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1540')}}
  <picture>
    <source
      media="(max-width: 1540px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyThree}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1550')}}
  <picture>
    <source
      media="(max-width: 1550px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyFour}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1560')}}
  <picture>
    <source
      media="(max-width: 1560px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyFive}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1570')}}
  <picture>
    <source
      media="(max-width: 1570px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentySix}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1580')}}
  <picture>
    <source
      media="(max-width: 1580px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentySeven}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1590')}}
  <picture>
    <source
      media="(max-width: 1590px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyEight}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{#if (media 'is1600')}}
  <picture>
    <source
      media="(min-width: 1600px)"
      srcset={{@blockImageSrcsetOneHundredAndTwentyNine}}
    />
    <img
      src={{@blockImageFallback}}
      alt={{@blockImageAltText}}
    />
  </picture>
  {{/if}}
  {{/if}}
</span>
