
<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="services_page">
  <header local-class="services_page_header_container">
    <Dynamic::Ui::Header />
      {{#if (or (media 'isLarge') (media 'isWide'))}}
      <nav local-class="services_page_desktop_navigation_container">
        <div local-class="services_page_desktop_navigation">
        <Dynamic::Ui::Navigation::Desktop 
          @routeSlotOne={{this.welcomeRoute}} 
          @routeSlotTwo={{this.servicesRoute}}
          @routeSlotThree={{this.contactRoute}} />
        </div>
      </nav>
      {{/if}}
  </header>
  <div local-class="services_page_body">
    <main local-class="services_page_content_container">
      <div local-class="services_page_content">
        This is the content section! What does this look like?
      </div>
    </main>
  </div>
  <footer local-class="services_page_footer_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
    <Dynamic::Ui::Footer />
    {{/if}}
  </footer>
  {{#if (or (media 'isSmall') (media 'isMedium'))}}
  {{!-- template-lint-disable no-duplicate-landmark-elements --}}
  <nav local-class="services_page_mobile_navigation_container">
    <div local-class="services_page_mobile_navigation">
      <Dynamic::Ui::Navigation::Mobile 
        @routeSlotOne={{this.welcomeRoute}} 
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.contactRoute}} />
    </div>
  </nav>
  {{/if}}
</div>