<span local-class="image_grid">
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageOneSmall}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageOneSmallFallback}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageOneMedium}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageOneMediumFallback}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageOneLarge}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageOneLargeFallback}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageOneWide}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageOneWideFallback}}
        loading="eager"
        alt={{@imageGridImageOneAltLabel}}>
    {{/if}}
    </picture>
  </span>
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageTwoSmall}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageTwoSmallFallback}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageTwoMedium}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageTwoMediumFallback}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageTwoLarge}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageTwoLargeFallback}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageTwoWide}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageTwoWideFallback}}
        loading="eager"
        alt={{@imageGridImageTwoAltLabel}}>
    {{/if}}
    </picture>
  </span>
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageThreeSmall}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageThreeSmallFallback}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageThreeMedium}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageThreeMediumFallback}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageThreeLarge}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageThreeLargeFallback}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageThreeWide}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageThreeWideFallback}}
        loading="eager"
        alt={{@imageGridImageThreeAltLabel}}>
    {{/if}}
    </picture>
  </span>
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageFourSmall}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFourSmallFallback}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageFourMedium}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFourMediumFallback}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageFourLarge}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFourLargeFallback}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageFourWide}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFourWideFallback}}
        loading="eager"
        alt={{@imageGridImageFourAltLabel}}>
    {{/if}}
    </picture>
  </span>
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageFiveSmall}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFiveSmallFallback}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageFiveMedium}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFiveMediumFallback}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageFiveLarge}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFiveLargeFallback}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageFiveWide}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageFiveWideFallback}}
        loading="eager"
        alt={{@imageGridImageFiveAltLabel}}>
    {{/if}}
    </picture>
  </span>
  <span>
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset={{@imageGridImageSixSmall}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageSixSmallFallback}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}>
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset={{@imageGridImageSixMedium}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageSixMediumFallback}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}>
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset={{@imageGridImageSixLarge}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageSixLargeFallback}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}>
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset={{@imageGridImageSixWide}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}
        type="image/webp">
      <img
        src={{@imageGridImageSixWideFallback}}
        loading="eager"
        alt={{@imageGridImageSixAltLabel}}>
    {{/if}}
    </picture>
  </span>
</span>