<span local-class="image_group">
  <span>
    {{#if (media 'isSmall')}}
    <img
      src={{@imageOneSmallFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageOneAltLabel}}
      srcset={{@imageOneSmallSrcset}}>
    {{/if}}
    {{#if (media 'isMedium')}}
    <img
      src={{@imageOneMediumFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageOneAltLabel}}
      srcset={{@imageOneMediumSrcset}}>
    {{/if}}
    {{#if (media 'isLarge')}}
    <img
      src={{@imageOneLargeFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageOneAltLabel}}
      srcset={{@imageOneLargeSrcset}}>
    {{/if}}
    {{#if (media 'isWide')}}
    <img
      src={{@imageOneWideFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageOneAltLabel}}
      srcset={{@imageOneWideSrcset}}>
    {{/if}}
  </span>
  <span>
    {{#if (media 'isSmall')}}
    <img
      src={{@imageTwoSmallFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageTwoAltLabel}}
      srcset={{@imageTwoSmallSrcset}}>
    {{/if}}
    {{#if (media 'isMedium')}}
    <img
      src={{@imageTwoMediumFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageTwoAltLabel}}
      srcset={{@imageTwoMediumSrcset}}>
    {{/if}}
    {{#if (media 'isLarge')}}
    <img
      src={{@imageTwoLargeFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageTwoAltLabel}}
      srcset={{@imageTwoLargeSrcset}}>
    {{/if}}
    {{#if (media 'isWide')}}
    <img
      src={{@imageTwoWideFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageTwoAltLabel}}
      srcset={{@imageTwoWideSrcset}}>
    {{/if}}
  </span>
  <span>
    {{#if (media 'isSmall')}}
    <img
      src={{@imageThreeSmallFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageThreeAltLabel}}
      srcset={{@imageThreeSmallSrcset}}>
    {{/if}}
    {{#if (media 'isMedium')}}
    <img
      src={{@imageThreeMediumFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageThreeAltLabel}}
      srcset={{@imageThreeMediumSrcset}}>
    {{/if}}
    {{#if (media 'isLarge')}}
    <img
      src={{@imageThreeLargeFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageThreeAltLabel}}
      srcset={{@imageThreeLargeSrcset}}>
    {{/if}}
    {{#if (media 'isWide')}}
    <img
      src={{@imageThreeWideFallback}}
      max-width="200px"
      loading="lazy"
      alt={{@imageThreeAltLabel}}
      srcset={{@imageThreeWideSrcset}}>
    {{/if}}
  </span>
</span>