<main local-class="main-content" id="mainContent">
  {{#if (has-block "primaryHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="primaryHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerOne")}}
  <div local-class="content-container {{if @horizontalRuleContainerOne "horizontal-rule"}}">
  {{yield to="contentContainerOne"}}
  </div>
  {{/if}}
  {{#if (has-block "secondHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="secondHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerTwo")}}
  <div local-class="content-container {{if @horizontalRuleContainerTwo "horizontal-rule"}}">
  {{yield to="contentContainerTwo"}}
  </div>
  {{/if}}
  {{#if (has-block "thirdHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="thirdHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerThree")}}
  <div local-class="content-container {{if @horizontalRuleContainerThree "horizontal-rule"}}">
  {{yield to="contentContainerThree"}}
  </div>
  {{/if}}
  {{#if (has-block "fourthHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="fourthHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerFour")}}
  <div local-class="content-container {{if @horizontalRuleContainerFour "horizontal-rule"}}">
  {{yield to="contentContainerFour"}}
  </div>
  {{/if}}
  {{#if (has-block "fifthHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="fifthHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerFive")}}
  <div local-class="content-container {{if @horizontalRuleContainerFive "horizontal-rule"}}">
  {{yield to="contentContainerFive"}}
  </div>
  {{/if}}
  {{#if (has-block "sixthHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="sixthHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerSix")}}
  <div local-class="content-container {{if @horizontalRuleContainerSix "horizontal-rule"}}">
  {{yield to="contentContainerSix"}}
  </div>
  {{/if}}
  {{#if (has-block "seventhHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="seventhHeroImage"}}
  </div>
  {{/if}}
  {{#if (has-block "contentContainerSeven")}}
  <div local-class="content-container {{if @horizontalRuleContainerSeven "horizontal-rule"}}">
  {{yield to="contentContainerSeven"}}
  </div>
  {{/if}}
  {{#if (has-block "eighthHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="eighthHeroImage"}}
  </div>
  {{/if}}
    {{#if (has-block "contentContainerEight")}}
  <div local-class="content-container {{if @horizontalRuleContainerEight "horizontal-rule"}}">
  {{yield to="contentContainerEight"}}
  </div>
  {{/if}}
  {{#if (has-block "ninthHeroImage")}}
  <div local-class="hero-image-container">
  {{yield to="ninthHeroImage"}}
  </div>
  {{/if}}
</main>
