<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="about_page">
  <header local-class="about_page_header_container">
    <Dynamic::Ui::Header />
  </header>
  <div local-class="about_page_body">
    <nav local-class="about_page_navigation_container">
      <div local-class="about_page_navigation">
      {{#if (or (media 'isSmall') (media 'isMedium'))}}
      <Dynamic::Ui::Navigation::Mobile
        @routeSlotOne={{this.indexRoute}}
        @routeSlotTwo={{this.aboutRoute}}
        @routeSlotThree={{this.contactRoute}}
        @routeSlotFour={{this.servicesRoute}} />
      {{else if (or (media 'isLarge') (media 'isWide'))}}
      <Dynamic::Ui::Navigation::Desktop
        @routeSlotOne={{this.indexRoute}}
        @routeSlotTwo={{this.aboutRoute}}
        @routeSlotThree={{this.contactRoute}}
        @routeSlotFour={{this.servicesRoute}} />
      {{/if}}
      </div>
    </nav>
    {{#if (media 'isSmall')}}
    <address local-class="address_section_email">
      <picture>
        <source
          srcset="/assets/images/camden-creative-email.png"
          loading="eager"
          alt="Camden Creative's Email Address"
          type="image/webp">
        <img
          src="/assets/images/camden-creative-email.png"
          loading="eager"
          alt="Camden Creative's Email Address">
      </picture>
    </address>
    {{/if}}
    <main local-class="about_page_content_container">
      <div local-class="about_page_content">

      </div>
    </main>
  </div>
  <footer local-class="about_page_footer_container">
    <Dynamic::Ui::Footer />
  </footer>
</div>