<Dynamic::PageLayout::ScrollingMinimalistFlat>
  <:primaryHeader>
    <Dynamic::Ui::Header @indexPage="true" />
  </:primaryHeader>
  <:primaryNavigation>
    <Dynamic::Ui::Navigation::Primary
      @routeSlotOne={{this.indexRoute}}
      @routeSlotTwo={{this.whyWeFightRoute}}
      @routeSlotThree={{this.localImpactRoute}}
      @routeSlotFour={{this.takeActionRoute}} />
  </:primaryNavigation>
  <:mainContent>
    <Dynamic::Ui::MainContentLayout::ScrollingMinimalistFlat>
      <:primaryHeroImage>
        <Dynamic::Ui::ImageHero
          @heroImageSmallScreensSrcsetOne={{this.primaryHeroImageSmallScreensSrcsetOne}}
          @heroImageSmallScreensSrcsetTwo={{this.primaryHeroImageSmallScreensSrcsetTwo}}
          @heroImageSmallScreensSrcsetThree={{this.primaryHeroImageSmallScreensSrcsetThree}}
          @heroImageSmallScreensSrcsetFour={{this.primaryHeroImageSmallScreensSrcsetFour}}
          @heroImageSmallScreensSrcsetFive={{this.primaryHeroImageSmallScreensSrcsetFive}}
          @heroImageSmallScreensSrcsetSix={{this.primaryHeroImageSmallScreensSrcsetSix}}
          @heroImageSmallScreensSrcsetSeven={{this.primaryHeroImageSmallScreensSrcsetSeven}}
          @heroImageSmallScreensSrcsetEight={{this.primaryHeroImageSmallScreensSrcsetEight}}
          @heroImageSmallScreensSrcsetNine={{this.primaryHeroImageSmallScreensSrcsetNine}}
          @heroImageSmallScreensSrcsetTen={{this.primaryHeroImageSmallScreensSrcsetTen}}
          @heroImageSmallScreensSrcsetEleven={{this.primaryHeroImageSmallScreensSrcsetEleven}}
          @heroImageSmallScreensSrcsetTwelve={{this.primaryHeroImageSmallScreensSrcsetTwelve}}
          @heroImageSmallScreensSrcsetThirteen={{this.primaryHeroImageSmallScreensSrcsetThirteen}}
          @heroImageSmallScreensSrcsetFourteen={{this.primaryHeroImageSmallScreensSrcsetFourteen}}
          @heroImageSmallScreensSrcsetFifteen={{this.primaryHeroImageSmallScreensSrcsetFifteen}}
          @heroImageSmallScreensSrcsetSixteen={{this.primaryHeroImageSmallScreensSrcsetSixteen}}
          @heroImageSmallScreensSrcsetSeventeen={{this.primaryHeroImageSmallScreensSrcsetSeventeen}}
          @heroImageSmallScreensSrcsetEighteen={{this.primaryHeroImageSmallScreensSrcsetEighteen}}
          @heroImageSmallScreensSrcsetNineteen={{this.primaryHeroImageSmallScreensSrcsetNineteen}}
          @heroImageSmallScreensSrcsetTwenty={{this.primaryHeroImageSmallScreensSrcsetTwenty}}
          @heroImageSmallScreensSrcsetTwentyOne={{this.primaryHeroImageSmallScreensSrcsetTwentyOne}}
          @heroImageSmallScreensSrcsetTwentyTwo={{this.primaryHeroImageSmallScreensSrcsetTwentyTwo}}
          @heroImageSmallScreensSrcsetTwentyThree={{this.primaryHeroImageSmallScreensSrcsetTwentyThree}}
          @heroImageSmallScreensSrcsetTwentyFour={{this.primaryHeroImageSmallScreensSrcsetTwentyFour}}
          @heroImageLargeScreensSrcsetOne={{this.primaryHeroImageLargeScreensSrcsetOne}}
          @heroImageLargeScreensSrcsetTwo={{this.primaryHeroImageLargeScreensSrcsetTwo}}
          @heroImageLargeScreensSrcsetThree={{this.primaryHeroImageLargeScreensSrcsetThree}}
          @heroImageLargeScreensSrcsetFour={{this.primaryHeroImageLargeScreensSrcsetFour}}
          @heroImageLargeScreensSrcsetFive={{this.primaryHeroImageLargeScreensSrcsetFive}}
          @heroImageLargeScreensSrcsetSix={{this.primaryHeroImageLargeScreensSrcsetSix}}
          @heroImageLargeScreensSrcsetSeven={{this.primaryHeroImageLargeScreensSrcsetSeven}}
          @heroImageLargeScreensSrcsetEight={{this.primaryHeroImageLargeScreensSrcsetEight}}
          @heroImageLargeScreensSrcsetNine={{this.primaryHeroImageLargeScreensSrcsetNine}}
          @heroImageLargeScreensSrcsetTen={{this.primaryHeroImageLargeScreensSrcsetTen}}
          @heroImageLargeScreensSrcsetEleven={{this.primaryHeroImageLargeScreensSrcsetEleven}}
          @heroImageLargeScreensSrcsetTwelve={{this.primaryHeroImageLargeScreensSrcsetTwelve}}
          @heroImageLargeScreensSrcsetThirteen={{this.primaryHeroImageLargeScreensSrcsetThirteen}}
          @heroImageLargeScreensSrcsetFourteen={{this.primaryHeroImageLargeScreensSrcsetFourteen}}
          @heroImageLargeScreensSrcsetFifteen={{this.primaryHeroImageLargeScreensSrcsetFifteen}}
          @heroImageLargeScreensSrcsetSixteen={{this.primaryHeroImageLargeScreensSrcsetSixteen}}
          @heroImageLargeScreensSrcsetSeventeen={{this.primaryHeroImageLargeScreensSrcsetSeventeen}}
          @heroImageLargeScreensSrcsetEighteen={{this.primaryHeroImageLargeScreensSrcsetEighteen}}
          @heroImageLargeScreensSrcsetNineteen={{this.primaryHeroImageLargeScreensSrcsetNineteen}}
          @heroImageLargeScreensSrcsetTwenty={{this.primaryHeroImageLargeScreensSrcsetTwenty}}
          @heroImageLargeScreensSrcsetTwentyOne={{this.primaryHeroImageLargeScreensSrcsetTwentyOne}}
          @heroImageLargeScreensSrcsetTwentyTwo={{this.primaryHeroImageLargeScreensSrcsetTwentyTwo}}
          @heroImageLargeScreensSrcsetTwentyThree={{this.primaryHeroImageLargeScreensSrcsetTwentyThree}}
          @heroImageLargeScreensSrcsetTwentyFour={{this.primaryHeroImageLargeScreensSrcsetTwentyFour}}
          @heroImageLargeScreensSrcsetTwentyFive={{this.primaryHeroImageLargeScreensSrcsetTwentyFive}}
          @heroImageLargeScreensSrcsetTwentySix={{this.primaryHeroImageLargeScreensSrcsetTwentySix}}
          @heroImageLargeScreensSrcsetTwentySeven={{this.primaryHeroImageLargeScreensSrcsetTwentySeven}}
          @heroImageLargeScreensSrcsetTwentyEight={{this.primaryHeroImageLargeScreensSrcsetTwentyEight}}
          @heroImageLargeScreensSrcsetTwentyNine={{this.primaryHeroImageLargeScreensSrcsetTwentyNine}}
          @heroImageLargeScreensSrcsetThirty={{this.primaryHeroImageLargeScreensSrcsetThirty}}
          @heroImageLargeScreensSrcsetThirtyOne={{this.primaryHeroImageLargeScreensSrcsetThirtyOne}}
          @heroImageLargeScreensSrcsetThirtyTwo={{this.primaryHeroImageLargeScreensSrcsetThirtyTwo}}
          @heroImageLargeScreensSrcsetThirtyThree={{this.primaryHeroImageLargeScreensSrcsetThirtyThree}}
          @heroImageLargeScreensSrcsetThirtyFour={{this.primaryHeroImageLargeScreensSrcsetThirtyFour}}
          @heroImageLargeScreensSrcsetThirtyFive={{this.primaryHeroImageLargeScreensSrcsetThirtyFive}}
          @heroImageLargeScreensSrcsetThirtySix={{this.primaryHeroImageLargeScreensSrcsetThirtySix}}
          @heroImageLargeScreensSrcsetThirtySeven={{this.primaryHeroImageLargeScreensSrcsetThirtySeven}}
          @heroImageLargeScreensSrcsetThirtyEight={{this.primaryHeroImageLargeScreensSrcsetThirtyEight}}
          @heroImageLargeScreensSrcsetThirtyNine={{this.primaryHeroImageLargeScreensSrcsetThirtyNine}}
          @heroImageLargeScreensSrcsetForty={{this.primaryHeroImageLargeScreensSrcsetForty}}
          @heroImageLargeScreensSrcsetFortyOne={{this.primaryHeroImageLargeScreensSrcsetFortyOne}}
          @heroImageLargeScreensSrcsetFortyTwo={{this.primaryHeroImageLargeScreensSrcsetFortyTwo}}
          @heroImageLargeScreensSrcsetFortyThree={{this.primaryHeroImageLargeScreensSrcsetFortyThree}}
          @heroImageLargeScreensSrcsetFortyFour={{this.primaryHeroImageLargeScreensSrcsetFortyFour}}
          @heroImageLargeScreensSrcsetFortyFive={{this.primaryHeroImageLargeScreensSrcsetFortyFive}}
          @heroImageLargeScreensSrcsetFortySix={{this.primaryHeroImageLargeScreensSrcsetFortySix}}
          @heroImageLargeScreensSrcsetFortySeven={{this.primaryHeroImageLargeScreensSrcsetFortySeven}}
          @heroImageLargeScreensSrcsetFortyEight={{this.primaryHeroImageLargeScreensSrcsetFortyEight}}
          @heroImageLargeScreensSrcsetFortyNine={{this.primaryHeroImageLargeScreensSrcsetFortyNine}}
          @heroImageLargeScreensSrcsetFifty={{this.primaryHeroImageLargeScreensSrcsetFifty}}
          @heroImageLargeScreensSrcsetFiftyOne={{this.primaryHeroImageLargeScreensSrcsetFiftyOne}}
          @heroImageLargeScreensSrcsetFiftyTwo={{this.primaryHeroImageLargeScreensSrcsetFiftyTwo}}
          @heroImageLargeScreensSrcsetFiftyThree={{this.primaryHeroImageLargeScreensSrcsetFiftyThree}}
          @heroImageLargeScreensSrcsetFiftyFour={{this.primaryHeroImageLargeScreensSrcsetFiftyFour}}
          @heroImageLargeScreensSrcsetFiftyFive={{this.primaryHeroImageLargeScreensSrcsetFiftyFive}}
          @heroImageLargeScreensSrcsetFiftySix={{this.primaryHeroImageLargeScreensSrcsetFiftySix}}
          @heroImageLargeScreensSrcsetFiftySeven={{this.primaryHeroImageLargeScreensSrcsetFiftySeven}}
          @heroImageLargeScreensSrcsetFiftyEight={{this.primaryHeroImageLargeScreensSrcsetFiftyEight}}
          @heroImageLargeScreensSrcsetFiftyNine={{this.primaryHeroImageLargeScreensSrcsetFiftyNine}}
          @heroImageLargeScreensSrcsetSixty={{this.primaryHeroImageLargeScreensSrcsetSixty}}
          @heroImageLargeScreensSrcsetSixtyOne={{this.primaryHeroImageLargeScreensSrcsetSixtyOne}}
          @heroImageLargeScreensSrcsetSixtyTwo={{this.primaryHeroImageLargeScreensSrcsetSixtyTwo}}
          @heroImageLargeScreensSrcsetSixtyThree={{this.primaryHeroImageLargeScreensSrcsetSixtyThree}}
          @heroImageLargeScreensSrcsetSixtyFour={{this.primaryHeroImageLargeScreensSrcsetSixtyFour}}
          @heroImageLargeScreensSrcsetSixtyFive={{this.primaryHeroImageLargeScreensSrcsetSixtyFive}}
          @heroImageLargeScreensSrcsetSixtySix={{this.primaryHeroImageLargeScreensSrcsetSixtySix}}
          @heroImageLargeScreensSrcsetSixtySeven={{this.primaryHeroImageLargeScreensSrcsetSixtySeven}}
          @heroImageLargeScreensSrcsetSixtyEight={{this.primaryHeroImageLargeScreensSrcsetSixtyEight}}
          @heroImageLargeScreensSrcsetSixtyNine={{this.primaryHeroImageLargeScreensSrcsetSixtyNine}}
          @heroImageLargeScreensSrcsetSeventy={{this.primaryHeroImageLargeScreensSrcsetSeventy}}
          @heroImageLargeScreensSrcsetSeventyOne={{this.primaryHeroImageLargeScreensSrcsetSeventyOne}}
          @heroImageLargeScreensSrcsetSeventyTwo={{this.primaryHeroImageLargeScreensSrcsetSeventyTwo}}
          @heroImageLargeScreensSrcsetSeventyThree={{this.primaryHeroImageLargeScreensSrcsetSeventyThree}}
          @heroImageLargeScreensSrcsetSeventyFour={{this.primaryHeroImageLargeScreensSrcsetSeventyFour}}
          @heroImageLargeScreensSrcsetSeventyFive={{this.primaryHeroImageLargeScreensSrcsetSeventyFive}}
          @heroImageLargeScreensSrcsetSeventySix={{this.primaryHeroImageLargeScreensSrcsetSeventySix}}
          @heroImageLargeScreensSrcsetSeventySeven={{this.primaryHeroImageLargeScreensSrcsetSeventySeven}}
          @heroImageLargeScreensSrcsetSeventyEight={{this.primaryHeroImageLargeScreensSrcsetSeventyEight}}
          @heroImageLargeScreensSrcsetSeventyNine={{this.primaryHeroImageLargeScreensSrcsetSeventyNine}}
          @heroImageLargeScreensSrcsetEighty={{this.primaryHeroImageLargeScreensSrcsetEighty}}
          @heroImageLargeScreensSrcsetEightyOne={{this.primaryHeroImageLargeScreensSrcsetEightyOne}}
          @heroImageLargeScreensSrcsetEightyTwo={{this.primaryHeroImageLargeScreensSrcsetEightyTwo}}
          @heroImageLargeScreensSrcsetEightyThree={{this.primaryHeroImageLargeScreensSrcsetEightyThree}}
          @heroImageLargeScreensSrcsetEightyFour={{this.primaryHeroImageLargeScreensSrcsetEightyFour}}
          @heroImageLargeScreensSrcsetEightyFive={{this.primaryHeroImageLargeScreensSrcsetEightyFive}}
          @heroImageLargeScreensSrcsetEightySix={{this.primaryHeroImageLargeScreensSrcsetEightySix}}
          @heroImageLargeScreensSrcsetEightySeven={{this.primaryHeroImageLargeScreensSrcsetEightySeven}}
          @heroImageLargeScreensSrcsetEightyEight={{this.primaryHeroImageLargeScreensSrcsetEightyEight}}
          @heroImageLargeScreensSrcsetEightyNine={{this.primaryHeroImageLargeScreensSrcsetEightyNine}}
          @heroImageLargeScreensSrcsetNinety={{this.primaryHeroImageLargeScreensSrcsetNinety}}
          @heroImageLargeScreensSrcsetNinetyOne={{this.primaryHeroImageLargeScreensSrcsetNinetyOne}}
          @heroImageLargeScreensSrcsetNinetyTwo={{this.primaryHeroImageLargeScreensSrcsetNinetyTwo}}
          @heroImageLargeScreensSrcsetNinetyThree={{this.primaryHeroImageLargeScreensSrcsetNinetyThree}}
          @heroImageLargeScreensSrcsetNinetyFour={{this.primaryHeroImageLargeScreensSrcsetNinetyFour}}
          @heroImageLargeScreensSrcsetNinetyFive={{this.primaryHeroImageLargeScreensSrcsetNinetyFive}}
          @heroImageLargeScreensSrcsetNinetySix={{this.primaryHeroImageLargeScreensSrcsetNinetySix}}
          @heroImageLargeScreensSrcsetNinetySeven={{this.primaryHeroImageLargeScreensSrcsetNinetySeven}}
          @heroImageLargeScreensSrcsetNinetyEight={{this.primaryHeroImageLargeScreensSrcsetNinetyEight}}
          @heroImageLargeScreensSrcsetNinetyNine={{this.primaryHeroImageLargeScreensSrcsetNinetyNine}}
          @heroImageLargeScreensSrcsetOneHundred={{this.primaryHeroImageLargeScreensSrcsetOneHundred}}
          @heroImageLargeScreensSrcsetOneHundredAndOne={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndOne}}
          @heroImageLargeScreensSrcsetOneHundredAndTwo={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndTwo}}
          @heroImageLargeScreensSrcsetOneHundredAndThree={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndThree}}
          @heroImageLargeScreensSrcsetOneHundredAndFour={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndFour}}
          @heroImageLargeScreensSrcsetOneHundredAndFive={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndFive}}
          @heroImageAltText={{this.primaryHeroImageAltText}}
          @heroImageSmallScreensFallback={{this.primaryHeroImageSmallScreensFallback}}
          @heroImageLargeScreensFallback={{this.primaryHeroImageLargeScreensFallback}}
        />
      </:primaryHeroImage>
      <:contentContainerOne>
        <Dynamic::Ui::TripleBlockDisplay
          @firstBlockIsBordered="true"
          @secondBlockIsBordered="true"
          @thirdBlockIsBordered="true"
        >
          <:firstBlock>
            <span local-class="block-title">
              <h1><i>Our mission</i></h1>
            </span>
            <p>
              Embracing the future while preserving the past. Save the Dam Falls exists to...Mission statement here
            </p>
          </:firstBlock>
          <:secondBlock>
            <span local-class="block-title">
              <h1><i>The latest DAM news</i></h1>
            </span>
            <p>LATEST NEWS FEED</p>
          </:secondBlock>
          <:thirdBlock>
            <span local-class="block-title">
              <h1><i>Local supporters</i></h1>
            </span>
            <p>LIST OF SUPPORTERS HERE</p>
          </:thirdBlock>
        </Dynamic::Ui::TripleBlockDisplay>
      </:contentContainerOne>
      <:contentContainerTwo>
        <Dynamic::Ui::TripleBlockDisplay>
          <:firstBlock>
            <span local-class="block-title">
              <h1><i>SEE ALL OF STDF NEWSLETTERS</i></h1>
            </span>
            <p>PFD PAGE/ROUTE BUTTON NAV HERE</p>
          </:firstBlock>
          <:secondBlock>
            {{!-- empty --}}
          </:secondBlock>
          <:thirdBlock>
            <Dynamic::Ui::ImageBlock
              @blockImageSrcsetOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOne}}
              @blockImageSrcsetTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwo}}
              @blockImageSrcsetThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThree}}
              @blockImageSrcsetFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFour}}
              @blockImageSrcsetFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFive}}
              @blockImageSrcsetSix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSix}}
              @blockImageSrcsetSeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeven}}
              @blockImageSrcsetEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEight}}
              @blockImageSrcsetNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNine}}
              @blockImageSrcsetTen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTen}}
              @blockImageSrcsetEleven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEleven}}
              @blockImageSrcsetTwelve={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwelve}}
              @blockImageSrcsetThirteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirteen}}
              @blockImageSrcsetFourteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFourteen}}
              @blockImageSrcsetFifteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFifteen}}
              @blockImageSrcsetSixteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixteen}}
              @blockImageSrcsetSeventeen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventeen}}
              @blockImageSrcsetEighteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEighteen}}
              @blockImageSrcsetNineteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNineteen}}
              @blockImageSrcsetTwenty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwenty}}
              @blockImageSrcsetTwentyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyOne}}
              @blockImageSrcsetTwentyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyTwo}}
              @blockImageSrcsetTwentyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyThree}}
              @blockImageSrcsetTwentyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyFour}}
              @blockImageSrcsetTwentyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyFive}}
              @blockImageSrcsetTwentySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentySix}}
              @blockImageSrcsetTwentySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentySeven}}
              @blockImageSrcsetTwentyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyEight}}
              @blockImageSrcsetTwentyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetTwentyNine}}
              @blockImageSrcsetThirty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirty}}
              @blockImageSrcsetThirtyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyOne}}
              @blockImageSrcsetThirtyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyTwo}}
              @blockImageSrcsetThirtyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyThree}}
              @blockImageSrcsetThirtyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyFour}}
              @blockImageSrcsetThirtyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyFive}}
              @blockImageSrcsetThirtySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtySix}}
              @blockImageSrcsetThirtySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtySeven}}
              @blockImageSrcsetThirtyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyEight}}
              @blockImageSrcsetThirtyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetThirtyNine}}
              @blockImageSrcsetForty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetForty}}
              @blockImageSrcsetFortyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyOne}}
              @blockImageSrcsetFortyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyTwo}}
              @blockImageSrcsetFortyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyThree}}
              @blockImageSrcsetFortyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyFour}}
              @blockImageSrcsetFortyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyFive}}
              @blockImageSrcsetFortySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortySix}}
              @blockImageSrcsetFortySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortySeven}}
              @blockImageSrcsetFortyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyEight}}
              @blockImageSrcsetFortyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFortyNine}}
              @blockImageSrcsetFifty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFifty}}
              @blockImageSrcsetFiftyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyOne}}
              @blockImageSrcsetFiftyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyTwo}}
              @blockImageSrcsetFiftyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyThree}}
              @blockImageSrcsetFiftyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyFour}}
              @blockImageSrcsetFiftyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyFive}}
              @blockImageSrcsetFiftySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftySix}}
              @blockImageSrcsetFiftySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftySeven}}
              @blockImageSrcsetFiftyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyEight}}
              @blockImageSrcsetFiftyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetFiftyNine}}
              @blockImageSrcsetSixty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixty}}
              @blockImageSrcsetSixtyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyOne}}
              @blockImageSrcsetSixtyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyTwo}}
              @blockImageSrcsetSixtyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyThree}}
              @blockImageSrcsetSixtyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyFour}}
              @blockImageSrcsetSixtyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyFive}}
              @blockImageSrcsetSixtySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtySix}}
              @blockImageSrcsetSixtySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtySeven}}
              @blockImageSrcsetSixtyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyEight}}
              @blockImageSrcsetSixtyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSixtyNine}}
              @blockImageSrcsetSeventy={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventy}}
              @blockImageSrcsetSeventyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyOne}}
              @blockImageSrcsetSeventyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyTwo}}
              @blockImageSrcsetSeventyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyThree}}
              @blockImageSrcsetSeventyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyFour}}
              @blockImageSrcsetSeventyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyFive}}
              @blockImageSrcsetSeventySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventySix}}
              @blockImageSrcsetSeventySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventySeven}}
              @blockImageSrcsetSeventyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyEight}}
              @blockImageSrcsetSeventyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetSeventyNine}}
              @blockImageSrcsetEighty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEighty}}
              @blockImageSrcsetEightyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyOne}}
              @blockImageSrcsetEightyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyTwo}}
              @blockImageSrcsetEightyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyThree}}
              @blockImageSrcsetEightyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyFour}}
              @blockImageSrcsetEightyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyFive}}
              @blockImageSrcsetEightySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightySix}}
              @blockImageSrcsetEightySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightySeven}}
              @blockImageSrcsetEightyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyEight}}
              @blockImageSrcsetEightyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetEightyNine}}
              @blockImageSrcsetNinety={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinety}}
              @blockImageSrcsetNinetyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyOne}}
              @blockImageSrcsetNinetyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyTwo}}
              @blockImageSrcsetNinetyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyThree}}
              @blockImageSrcsetNinetyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyFour}}
              @blockImageSrcsetNinetyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyFive}}
              @blockImageSrcsetNinetySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetySix}}
              @blockImageSrcsetNinetySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetySeven}}
              @blockImageSrcsetNinetyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyEight}}
              @blockImageSrcsetNinetyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetNinetyNine}}
              @blockImageSrcsetOneHundred={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundred}}
              @blockImageSrcsetOneHundredAndOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndOne}}
              @blockImageSrcsetOneHundredAndTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwo}}
              @blockImageSrcsetOneHundredAndThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndThree}}
              @blockImageSrcsetOneHundredAndFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndFour}}
              @blockImageSrcsetOneHundredAndFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndFive}}
              @blockImageSrcsetOneHundredAndSix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndSix}}
              @blockImageSrcsetOneHundredAndSeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndSeven}}
              @blockImageSrcsetOneHundredAndEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndEight}}
              @blockImageSrcsetOneHundredAndNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndNine}}
              @blockImageSrcsetOneHundredAndTen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTen}}
              @blockImageSrcsetOneHundredAndEleven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndEleven}}
              @blockImageSrcsetOneHundredAndTwelve={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwelve}}
              @blockImageSrcsetOneHundredAndThirteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndThirteen}}
              @blockImageSrcsetOneHundredAndFourteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndFourteen}}
              @blockImageSrcsetOneHundredAndFifteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndFifteen}}
              @blockImageSrcsetOneHundredAndSixteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndSixteen}}
              @blockImageSrcsetOneHundredAndSeventeen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndSeventeen}}
              @blockImageSrcsetOneHundredAndEighteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndEighteen}}
              @blockImageSrcsetOneHundredAndNineteen={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndNineteen}}
              @blockImageSrcsetOneHundredAndTwenty={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwenty}}
              @blockImageSrcsetOneHundredAndTwentyOne={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyOne}}
              @blockImageSrcsetOneHundredAndTwentyTwo={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyTwo}}
              @blockImageSrcsetOneHundredAndTwentyThree={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyThree}}
              @blockImageSrcsetOneHundredAndTwentyFour={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyFour}}
              @blockImageSrcsetOneHundredAndTwentyFive={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyFive}}
              @blockImageSrcsetOneHundredAndTwentySix={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentySix}}
              @blockImageSrcsetOneHundredAndTwentySeven={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentySeven}}
              @blockImageSrcsetOneHundredAndTwentyEight={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyEight}}
              @blockImageSrcsetOneHundredAndTwentyNine={{this.tripleBlockContainerTwoBlockThreeImageSrcsetOneHundredAndTwentyNine}}
              @blockImageAltText={{this.tripleBlockContainerTwoBlockThreeImageAltText}}
              @blockImageFallback={{this.tripleBlockContainerTwoBlockThreeImageFallback}}
            />
          </:thirdBlock>
        </Dynamic::Ui::TripleBlockDisplay>
      </:contentContainerTwo>
      <:thirdHeroImage>
        <Dynamic::Ui::ImageHero
          @heroImageSmallScreensSrcsetOne={{this.primaryHeroImageSmallScreensSrcsetOne}}
          @heroImageSmallScreensSrcsetTwo={{this.primaryHeroImageSmallScreensSrcsetTwo}}
          @heroImageSmallScreensSrcsetThree={{this.primaryHeroImageSmallScreensSrcsetThree}}
          @heroImageSmallScreensSrcsetFour={{this.primaryHeroImageSmallScreensSrcsetFour}}
          @heroImageSmallScreensSrcsetFive={{this.primaryHeroImageSmallScreensSrcsetFive}}
          @heroImageSmallScreensSrcsetSix={{this.primaryHeroImageSmallScreensSrcsetSix}}
          @heroImageSmallScreensSrcsetSeven={{this.primaryHeroImageSmallScreensSrcsetSeven}}
          @heroImageSmallScreensSrcsetEight={{this.primaryHeroImageSmallScreensSrcsetEight}}
          @heroImageSmallScreensSrcsetNine={{this.primaryHeroImageSmallScreensSrcsetNine}}
          @heroImageSmallScreensSrcsetTen={{this.primaryHeroImageSmallScreensSrcsetTen}}
          @heroImageSmallScreensSrcsetEleven={{this.primaryHeroImageSmallScreensSrcsetEleven}}
          @heroImageSmallScreensSrcsetTwelve={{this.primaryHeroImageSmallScreensSrcsetTwelve}}
          @heroImageSmallScreensSrcsetThirteen={{this.primaryHeroImageSmallScreensSrcsetThirteen}}
          @heroImageSmallScreensSrcsetFourteen={{this.primaryHeroImageSmallScreensSrcsetFourteen}}
          @heroImageSmallScreensSrcsetFifteen={{this.primaryHeroImageSmallScreensSrcsetFifteen}}
          @heroImageSmallScreensSrcsetSixteen={{this.primaryHeroImageSmallScreensSrcsetSixteen}}
          @heroImageSmallScreensSrcsetSeventeen={{this.primaryHeroImageSmallScreensSrcsetSeventeen}}
          @heroImageSmallScreensSrcsetEighteen={{this.primaryHeroImageSmallScreensSrcsetEighteen}}
          @heroImageSmallScreensSrcsetNineteen={{this.primaryHeroImageSmallScreensSrcsetNineteen}}
          @heroImageSmallScreensSrcsetTwenty={{this.primaryHeroImageSmallScreensSrcsetTwenty}}
          @heroImageSmallScreensSrcsetTwentyOne={{this.primaryHeroImageSmallScreensSrcsetTwentyOne}}
          @heroImageSmallScreensSrcsetTwentyTwo={{this.primaryHeroImageSmallScreensSrcsetTwentyTwo}}
          @heroImageSmallScreensSrcsetTwentyThree={{this.primaryHeroImageSmallScreensSrcsetTwentyThree}}
          @heroImageSmallScreensSrcsetTwentyFour={{this.primaryHeroImageSmallScreensSrcsetTwentyFour}}
          @heroImageLargeScreensSrcsetOne={{this.primaryHeroImageLargeScreensSrcsetOne}}
          @heroImageLargeScreensSrcsetTwo={{this.primaryHeroImageLargeScreensSrcsetTwo}}
          @heroImageLargeScreensSrcsetThree={{this.primaryHeroImageLargeScreensSrcsetThree}}
          @heroImageLargeScreensSrcsetFour={{this.primaryHeroImageLargeScreensSrcsetFour}}
          @heroImageLargeScreensSrcsetFive={{this.primaryHeroImageLargeScreensSrcsetFive}}
          @heroImageLargeScreensSrcsetSix={{this.primaryHeroImageLargeScreensSrcsetSix}}
          @heroImageLargeScreensSrcsetSeven={{this.primaryHeroImageLargeScreensSrcsetSeven}}
          @heroImageLargeScreensSrcsetEight={{this.primaryHeroImageLargeScreensSrcsetEight}}
          @heroImageLargeScreensSrcsetNine={{this.primaryHeroImageLargeScreensSrcsetNine}}
          @heroImageLargeScreensSrcsetTen={{this.primaryHeroImageLargeScreensSrcsetTen}}
          @heroImageLargeScreensSrcsetEleven={{this.primaryHeroImageLargeScreensSrcsetEleven}}
          @heroImageLargeScreensSrcsetTwelve={{this.primaryHeroImageLargeScreensSrcsetTwelve}}
          @heroImageLargeScreensSrcsetThirteen={{this.primaryHeroImageLargeScreensSrcsetThirteen}}
          @heroImageLargeScreensSrcsetFourteen={{this.primaryHeroImageLargeScreensSrcsetFourteen}}
          @heroImageLargeScreensSrcsetFifteen={{this.primaryHeroImageLargeScreensSrcsetFifteen}}
          @heroImageLargeScreensSrcsetSixteen={{this.primaryHeroImageLargeScreensSrcsetSixteen}}
          @heroImageLargeScreensSrcsetSeventeen={{this.primaryHeroImageLargeScreensSrcsetSeventeen}}
          @heroImageLargeScreensSrcsetEighteen={{this.primaryHeroImageLargeScreensSrcsetEighteen}}
          @heroImageLargeScreensSrcsetNineteen={{this.primaryHeroImageLargeScreensSrcsetNineteen}}
          @heroImageLargeScreensSrcsetTwenty={{this.primaryHeroImageLargeScreensSrcsetTwenty}}
          @heroImageLargeScreensSrcsetTwentyOne={{this.primaryHeroImageLargeScreensSrcsetTwentyOne}}
          @heroImageLargeScreensSrcsetTwentyTwo={{this.primaryHeroImageLargeScreensSrcsetTwentyTwo}}
          @heroImageLargeScreensSrcsetTwentyThree={{this.primaryHeroImageLargeScreensSrcsetTwentyThree}}
          @heroImageLargeScreensSrcsetTwentyFour={{this.primaryHeroImageLargeScreensSrcsetTwentyFour}}
          @heroImageLargeScreensSrcsetTwentyFive={{this.primaryHeroImageLargeScreensSrcsetTwentyFive}}
          @heroImageLargeScreensSrcsetTwentySix={{this.primaryHeroImageLargeScreensSrcsetTwentySix}}
          @heroImageLargeScreensSrcsetTwentySeven={{this.primaryHeroImageLargeScreensSrcsetTwentySeven}}
          @heroImageLargeScreensSrcsetTwentyEight={{this.primaryHeroImageLargeScreensSrcsetTwentyEight}}
          @heroImageLargeScreensSrcsetTwentyNine={{this.primaryHeroImageLargeScreensSrcsetTwentyNine}}
          @heroImageLargeScreensSrcsetThirty={{this.primaryHeroImageLargeScreensSrcsetThirty}}
          @heroImageLargeScreensSrcsetThirtyOne={{this.primaryHeroImageLargeScreensSrcsetThirtyOne}}
          @heroImageLargeScreensSrcsetThirtyTwo={{this.primaryHeroImageLargeScreensSrcsetThirtyTwo}}
          @heroImageLargeScreensSrcsetThirtyThree={{this.primaryHeroImageLargeScreensSrcsetThirtyThree}}
          @heroImageLargeScreensSrcsetThirtyFour={{this.primaryHeroImageLargeScreensSrcsetThirtyFour}}
          @heroImageLargeScreensSrcsetThirtyFive={{this.primaryHeroImageLargeScreensSrcsetThirtyFive}}
          @heroImageLargeScreensSrcsetThirtySix={{this.primaryHeroImageLargeScreensSrcsetThirtySix}}
          @heroImageLargeScreensSrcsetThirtySeven={{this.primaryHeroImageLargeScreensSrcsetThirtySeven}}
          @heroImageLargeScreensSrcsetThirtyEight={{this.primaryHeroImageLargeScreensSrcsetThirtyEight}}
          @heroImageLargeScreensSrcsetThirtyNine={{this.primaryHeroImageLargeScreensSrcsetThirtyNine}}
          @heroImageLargeScreensSrcsetForty={{this.primaryHeroImageLargeScreensSrcsetForty}}
          @heroImageLargeScreensSrcsetFortyOne={{this.primaryHeroImageLargeScreensSrcsetFortyOne}}
          @heroImageLargeScreensSrcsetFortyTwo={{this.primaryHeroImageLargeScreensSrcsetFortyTwo}}
          @heroImageLargeScreensSrcsetFortyThree={{this.primaryHeroImageLargeScreensSrcsetFortyThree}}
          @heroImageLargeScreensSrcsetFortyFour={{this.primaryHeroImageLargeScreensSrcsetFortyFour}}
          @heroImageLargeScreensSrcsetFortyFive={{this.primaryHeroImageLargeScreensSrcsetFortyFive}}
          @heroImageLargeScreensSrcsetFortySix={{this.primaryHeroImageLargeScreensSrcsetFortySix}}
          @heroImageLargeScreensSrcsetFortySeven={{this.primaryHeroImageLargeScreensSrcsetFortySeven}}
          @heroImageLargeScreensSrcsetFortyEight={{this.primaryHeroImageLargeScreensSrcsetFortyEight}}
          @heroImageLargeScreensSrcsetFortyNine={{this.primaryHeroImageLargeScreensSrcsetFortyNine}}
          @heroImageLargeScreensSrcsetFifty={{this.primaryHeroImageLargeScreensSrcsetFifty}}
          @heroImageLargeScreensSrcsetFiftyOne={{this.primaryHeroImageLargeScreensSrcsetFiftyOne}}
          @heroImageLargeScreensSrcsetFiftyTwo={{this.primaryHeroImageLargeScreensSrcsetFiftyTwo}}
          @heroImageLargeScreensSrcsetFiftyThree={{this.primaryHeroImageLargeScreensSrcsetFiftyThree}}
          @heroImageLargeScreensSrcsetFiftyFour={{this.primaryHeroImageLargeScreensSrcsetFiftyFour}}
          @heroImageLargeScreensSrcsetFiftyFive={{this.primaryHeroImageLargeScreensSrcsetFiftyFive}}
          @heroImageLargeScreensSrcsetFiftySix={{this.primaryHeroImageLargeScreensSrcsetFiftySix}}
          @heroImageLargeScreensSrcsetFiftySeven={{this.primaryHeroImageLargeScreensSrcsetFiftySeven}}
          @heroImageLargeScreensSrcsetFiftyEight={{this.primaryHeroImageLargeScreensSrcsetFiftyEight}}
          @heroImageLargeScreensSrcsetFiftyNine={{this.primaryHeroImageLargeScreensSrcsetFiftyNine}}
          @heroImageLargeScreensSrcsetSixty={{this.primaryHeroImageLargeScreensSrcsetSixty}}
          @heroImageLargeScreensSrcsetSixtyOne={{this.primaryHeroImageLargeScreensSrcsetSixtyOne}}
          @heroImageLargeScreensSrcsetSixtyTwo={{this.primaryHeroImageLargeScreensSrcsetSixtyTwo}}
          @heroImageLargeScreensSrcsetSixtyThree={{this.primaryHeroImageLargeScreensSrcsetSixtyThree}}
          @heroImageLargeScreensSrcsetSixtyFour={{this.primaryHeroImageLargeScreensSrcsetSixtyFour}}
          @heroImageLargeScreensSrcsetSixtyFive={{this.primaryHeroImageLargeScreensSrcsetSixtyFive}}
          @heroImageLargeScreensSrcsetSixtySix={{this.primaryHeroImageLargeScreensSrcsetSixtySix}}
          @heroImageLargeScreensSrcsetSixtySeven={{this.primaryHeroImageLargeScreensSrcsetSixtySeven}}
          @heroImageLargeScreensSrcsetSixtyEight={{this.primaryHeroImageLargeScreensSrcsetSixtyEight}}
          @heroImageLargeScreensSrcsetSixtyNine={{this.primaryHeroImageLargeScreensSrcsetSixtyNine}}
          @heroImageLargeScreensSrcsetSeventy={{this.primaryHeroImageLargeScreensSrcsetSeventy}}
          @heroImageLargeScreensSrcsetSeventyOne={{this.primaryHeroImageLargeScreensSrcsetSeventyOne}}
          @heroImageLargeScreensSrcsetSeventyTwo={{this.primaryHeroImageLargeScreensSrcsetSeventyTwo}}
          @heroImageLargeScreensSrcsetSeventyThree={{this.primaryHeroImageLargeScreensSrcsetSeventyThree}}
          @heroImageLargeScreensSrcsetSeventyFour={{this.primaryHeroImageLargeScreensSrcsetSeventyFour}}
          @heroImageLargeScreensSrcsetSeventyFive={{this.primaryHeroImageLargeScreensSrcsetSeventyFive}}
          @heroImageLargeScreensSrcsetSeventySix={{this.primaryHeroImageLargeScreensSrcsetSeventySix}}
          @heroImageLargeScreensSrcsetSeventySeven={{this.primaryHeroImageLargeScreensSrcsetSeventySeven}}
          @heroImageLargeScreensSrcsetSeventyEight={{this.primaryHeroImageLargeScreensSrcsetSeventyEight}}
          @heroImageLargeScreensSrcsetSeventyNine={{this.primaryHeroImageLargeScreensSrcsetSeventyNine}}
          @heroImageLargeScreensSrcsetEighty={{this.primaryHeroImageLargeScreensSrcsetEighty}}
          @heroImageLargeScreensSrcsetEightyOne={{this.primaryHeroImageLargeScreensSrcsetEightyOne}}
          @heroImageLargeScreensSrcsetEightyTwo={{this.primaryHeroImageLargeScreensSrcsetEightyTwo}}
          @heroImageLargeScreensSrcsetEightyThree={{this.primaryHeroImageLargeScreensSrcsetEightyThree}}
          @heroImageLargeScreensSrcsetEightyFour={{this.primaryHeroImageLargeScreensSrcsetEightyFour}}
          @heroImageLargeScreensSrcsetEightyFive={{this.primaryHeroImageLargeScreensSrcsetEightyFive}}
          @heroImageLargeScreensSrcsetEightySix={{this.primaryHeroImageLargeScreensSrcsetEightySix}}
          @heroImageLargeScreensSrcsetEightySeven={{this.primaryHeroImageLargeScreensSrcsetEightySeven}}
          @heroImageLargeScreensSrcsetEightyEight={{this.primaryHeroImageLargeScreensSrcsetEightyEight}}
          @heroImageLargeScreensSrcsetEightyNine={{this.primaryHeroImageLargeScreensSrcsetEightyNine}}
          @heroImageLargeScreensSrcsetNinety={{this.primaryHeroImageLargeScreensSrcsetNinety}}
          @heroImageLargeScreensSrcsetNinetyOne={{this.primaryHeroImageLargeScreensSrcsetNinetyOne}}
          @heroImageLargeScreensSrcsetNinetyTwo={{this.primaryHeroImageLargeScreensSrcsetNinetyTwo}}
          @heroImageLargeScreensSrcsetNinetyThree={{this.primaryHeroImageLargeScreensSrcsetNinetyThree}}
          @heroImageLargeScreensSrcsetNinetyFour={{this.primaryHeroImageLargeScreensSrcsetNinetyFour}}
          @heroImageLargeScreensSrcsetNinetyFive={{this.primaryHeroImageLargeScreensSrcsetNinetyFive}}
          @heroImageLargeScreensSrcsetNinetySix={{this.primaryHeroImageLargeScreensSrcsetNinetySix}}
          @heroImageLargeScreensSrcsetNinetySeven={{this.primaryHeroImageLargeScreensSrcsetNinetySeven}}
          @heroImageLargeScreensSrcsetNinetyEight={{this.primaryHeroImageLargeScreensSrcsetNinetyEight}}
          @heroImageLargeScreensSrcsetNinetyNine={{this.primaryHeroImageLargeScreensSrcsetNinetyNine}}
          @heroImageLargeScreensSrcsetOneHundred={{this.primaryHeroImageLargeScreensSrcsetOneHundred}}
          @heroImageLargeScreensSrcsetOneHundredAndOne={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndOne}}
          @heroImageLargeScreensSrcsetOneHundredAndTwo={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndTwo}}
          @heroImageLargeScreensSrcsetOneHundredAndThree={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndThree}}
          @heroImageLargeScreensSrcsetOneHundredAndFour={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndFour}}
          @heroImageLargeScreensSrcsetOneHundredAndFive={{this.primaryHeroImageLargeScreensSrcsetOneHundredAndFive}}
          @heroImageAltText={{this.primaryHeroImageAltText}}
          @heroImageSmallScreensFallback={{this.primaryHeroImageSmallScreensFallback}}
          @heroImageLargeScreensFallback={{this.primaryHeroImageLargeScreensFallback}}
        />
      </:thirdHeroImage>
      </Dynamic::Ui::MainContentLayout::ScrollingMinimalistFlat>
  </:mainContent>
  <:primaryFooter>
    <Dynamic::Ui::Footer />
  </:primaryFooter>
</Dynamic::PageLayout::ScrollingMinimalistFlat>