<div local-class="nav_menu_container">
  {{#if @routeSlotOne}}
  <div local-class="nav_item_container">
    <LinkTo @route={{@routeSlotOne}} local-class="nav_link" aria-label="To Camden Creative's home page.">
      <div local-class="nav_item">
        <div local-class="nav_item_text">
          Welcome
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotTwo}}
  <div local-class="nav_item_container">
    <LinkTo @route={{@routeSlotTwo}} local-class="nav_link" aria-label="Learn about who we are.">
      <div local-class="nav_item">
        <div local-class="nav_item_text">
          About
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotThree}}
  <div local-class="nav_item_container">
    <LinkTo @route={{@routeSlotThree}} local-class="nav_link" aria-label="Learn about the space.">
      <div local-class="nav_item">
        <div local-class="nav_item_text">
          Contact
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotFour}}
  <div local-class="nav_item_container">
    <LinkTo @route={{@routeSlotFour}} local-class="nav_link" aria-label="Learn about the products we offer.">
      <div local-class="nav_item">
        <div local-class="nav_item_text">
          Services
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotFive}}
  <div local-class="nav_item_container">
    <LinkTo @route={{@routeSlotFive}} local-class="nav_link" aria-label="Learn about our events.">
      <div local-class="nav_item">
        <div local-class="nav_item_text">
          Events
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
</div>
